<!DOCTYPE html>
<html lang="en">
    <head>
        <title>phonebook</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script src="static/js/script.js"></script>
    </head> 
    <body>
  <!-- Navbar -->
  <nav class="h-12 bg-white/80 backdrop-blur-md border-b border-gray-200 flex items-center justify-between px-8 text-sm font-medium lg:flex-row sm:flex-col sm:height-15 ">
    
    <!-- Left Links -->
    <div class="flex items-center gap-8">
      <a href="/" class="relative group text-gray-700">
        Home
        <span class="absolute left-0 -bottom-1 w-0 h-0.5 bg-blue-600 transition-all group-hover:w-full"></span>
      </a>
      <a href="https://lochan.vercel.app/" class="relative group text-gray-700">
        About
        <span class="absolute left-0 -bottom-1 w-0 h-0.5 bg-blue-600 transition-all group-hover:w-full"></span>
      </a>
      <a href="https://www.linkedin.com/in/lochan-jangid/" class="relative group text-gray-700">
        Linkedin
        <span class="absolute left-0 -bottom-1 w-0 h-0.5 bg-blue-600 transition-all group-hover:w-full"></span>
      </a>
      <a href="https://github.com/LochanJangid/Py_projects" class="relative group text-gray-700">
        More Py projects
        <span class="absolute left-0 -bottom-1 w-0 h-0.5 bg-blue-600 transition-all group-hover:w-full"></span>
      </a>
    </div>

    <!-- Right Auth Buttons -->
    <div class="flex items-center gap-3">
      {% if not username %}
      <a href="/register" class="flex items-center gap-2 px-4 py-1.5 rounded-full border border-blue-300 hover:bg-blue-100 transition">
        <i data-lucide="user-plus" class="w-4 h-4"></i>
        Register
      </a>
      <a href="/login" class="flex items-center gap-2 px-4 py-1.5 rounded-full border border-gray-300 hover:bg-gray-100 transition">
        <i data-lucide="log-in" class="w-4 h-4"></i>
        Login
      </a>
      {% else %}
      <p href="" class="flex items-center gap-2 px-4 py-1.5 rounded-full bg-red-500 text-white hover:bg-red-600 transition shadow-sm">
        {{ username }}
      </p>
      <a href="/logout" class="flex items-center gap-2 px-4 py-1.5 rounded-full bg-red-500 text-white hover:bg-red-600 transition shadow-sm">
        <i data-lucide="log-out" class="w-4 h-4 rotate-180"></i>
        Logout
      </a>
      {% endif %}

    </div>

  </nav>
        {% block body %} {% endblock %}
    </body>
</html>