{% extends "layout.html" %}
{% block body %}   
   <section class="py-12">
      <div class="max-w-4xl mx-auto px-4 text-center">
          <input name="search" id="search" type="search" placeholder="Search " class="w-full sm:w-80 px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        <a href="/" class="m-2 px-3 py-1 text-sm rounded-md bg-black text-white cursor-pointer">
          Back</a>
      </div>
    </section>
    <div id="result"></div>
    <script>
      const show_here = document.getElementById('result');
      const searchInput = document.getElementById('search');

      searchInput.addEventListener('input', function(){
        console.log('hey')
        const query = searchInput.value;
        fetch_data(query, show_here);
      });


    </script>
{% endblock %}